* {
	padding:0px;
	margin:0px;
}

body {
	background-color:white;
	color:black;
	font-size:12px;
	font-family:sans-serif;
	background-repeat:no-repeat;
	background-image:url(./BG.png);
	background-position:0% 0%;
}

a:link, a:active, a:visited {
	color:black;
}
a:hover {
	text-decoration:none;
}

input, select, textarea {
	border: 0px;
	border-bottom: 1px dashed grey;
	padding-top:3px;
	padding-bottom:3px;
	width:300px;
	background-color:transparent;
	color:#333;
}

textarea {
	height:300px;
}

h1 {
	padding:5px;
	padding-bottom:0px;
	margin-bottom:20px;
	font-size:20px;
	color:#336699;
	padding-top:20px;
}

h2 {
	font-size:1.7em;
	padding-top:35px;
	padding-bottom:5px;
	color:#182d39;
	margin-right:20px;
}

label {
	width:150px;
	text-align:right;
	font-weight:bold;
	display:block;
}

table {
	width:500px;
}

td {
	padding:3px;
}

img {
	border:0px;
}

.header {
}


.bgWrapper {
}

.wrapper {
}


.navi {
}

.navi a:link, .navi a:active, .navi a:visited {
	color:white;
	text-decoration:none;
}
.navi a:hover {
	color:#99c6e2;
	text-decoration:none;
}

.navi .tab {
	margin-right:20px;
	float:right;
}

.navi a {
	font-size:15px;
}

.navi .subcategory {
	margin-left:10px;
	margin-bottom:15px;
}

.navi .separator {
	height:15px;
}

.navi .activeT a:link, .navi .activeT a:active, .navi .activeT a:visited {
	color:#99c6e2;
}

p {
	margin-top:10px;
}

#ePub {
	width:350px;
}

#ePubDLs {
	margin-top:20px;
	margin-bottom:20px;
}

.footer {
}
